
<%=  display_header(@comment)%>

<div>
<%= render partial: 'layouts/errors', locals: {object: @comment}  %>
<%= render 'form' %>
<%= link_to  "Cancel", dance_classes_path %>
</div>


<%= render 'dance_class/style' %>
