<h4>Select a Category</h4>
<%= form_for(@dance_class) do |f| %>

<div>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
</div>
<br>
  <p>OR Add A New Category:</p>
  <div>
      <%= f.fields_for :category do |m| %>
          
          <%= m.text_field :name %>
      <datalist id="category_name">
          <% Category.all.each do |c| %>
         <option value = "<%= c.name %>"  ></option>
          <% end %>
      </datalist>
      <br>
      <% end %>
  </div>
<br>
<br>

  <div>
      <h5><%= f.label :type, value="Class Name"%></h5>
      <%= f.text_field :type %>
  </div>
<br>
  <div>
      <h5><%= f.label :description %></h5>
      <%= f.text_area :description %>
  </div>

<br>


  <br>
      <%= f. submit %>
<% end %>
