<% form_for(@dance_class) do |f|%>
  <div>
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br>
 

  <p> Add A Category: </p>
  <div>
  <%= f.fields_for :category do |m| %>
      <%= m.label :name %>
      <%= m.text_field :name %>
  <datalist id="category_name">
      <% Category.all.each do |c| %>
     <option value = "<%= c.name %>"  ></option>
      <% end %>
  </datalist>
  <br>
  <% end %>
</div>
  <%= f. submit %>
<% end %> 