<%= render partial: 'errors', locals: {object: @dance_class}  %>
<% form_for(@dance_class) do |f|%>
  <div>
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>

  <p> Select a Category that already exists: </p>
  <div>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Select One'%>

  </div>

  <p> Or create a new Category: </p>
  <div>
    <%=f.fields_for :category do |c| %>
      <%= c.label :name %>
      <%= c.text_field :name %>
    <% end %>
  </div>
  <br>
  <%= f.submit %>
<% end %>