<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">

                        <h1>Show Dance Class Page</h1>
                        <div class="blk_center row card-deck border-info text-white mb-3">

                            <h3><%= check_image(@dance_class.dancer) %><%= @dance_class.dancer.username %></h3>

                            <h3>Title of dance_class - <%= @dance_class.type %></h3>
                            <p>Description of dance_class -  <%= @dance_class.description %> </p>
                      
                            </div>
                            <br>
                            <div class="blk_center row card-deck border-primary mb-3 text-warning">

                            <% @comments.all.each do |c| %>
                                <%= check_image(c.dancer) %> 
                                <h5 <%= c.dancer.username.capitalize %> posted</h5>
                                <h5>Type - <%= c.type %></h5>
                                <h5> Created-at <%= c.created_at %></h5>
                                <hr>
                                <% end %> 
                                <%= link_to  "View Comments", dance_class_comments_path(@dance_class) %>
                            </div>
            
                            </div>
            
                            </div>
                        </div> 
                    </section>
<%= render 'style' %>