<header class="masthead">
<%= image_tag("Logo.png", size: "250x250", alt: "rss feed") %>

<div class="container">
  <div class="row text-white">

    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
      <h3 class="display-4 py-2 text-truncate">Welcome to Virtual Dance Machine!</h3>
        <h3 class="display-4 py-2 text-truncate">Dance With Us!</h3>

      <%= link_to "Sign-up", {controller: "dancers", action: "new"}, class: "btn btn-dark"%> <br> <br>
      <%= link_to "Log-in", {controller: "sessions", action: "new"}, class: "btn btn-dark"%> <br> <br>
     <%= link_to "Sign-in with Google", '/auth/google_oauth2', class: "btn btn-primary" %> <br> <br>
     <%= link_to "Sign-in with GitHub", '/auth/github', class: "btn btn-success" %>


     </div>
    </div>
  </div>
 </header>

<%= render 'background' %>
