<h1>Sign up!</h1>

<%= render partial: 'layouts/errors', locals: {object: @dancer} %>

<%= form_for(@dancer) do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>  
 
  <%= f.submit "Sign Up" %>
<% end %>