<li class="nav-item">
          <a class="nav-link" <%= link_to  "Your Homepage", user_path(session[:user_id]) %> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to  "New Workout", new_workout_path %> </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" <%= link_to  "All Workouts", workouts_path %> </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" <%= link_to  "All Categories", categories_path %> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to  "Log Out", logout_path, method: :delete %> </a>
        </li>