<!DOCTYPE html>
<html>
  <head>
    <title>VirtualDanceMachine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
  <%= link_to "Log Out", logout_path, method: :delete %>
  <%= link_to "Choose A Category", new_dance_class_path %>

</div>


  <body>
    <%= yield %>
  </body>
</html>
